.calculator {
  border: 1px solid rgb(69, 67, 67);
  width: 200px;
  border-radius: 5px;
}

.Heading {
  /* margin-left: 507px; */
  margin-top: 16px;
  text-align: center;
}
.content{
  background-color: aqua;
}